.clickable-row {
    cursor:pointer;
}
.clickable-row:hover {
    background-color: bisque;
}
.btn-light:hover {
    background-color: bisque;
}

.btn-light:active:focus, .btn-light:focus {
    outline: none;
    box-shadow: none;
}